body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 5px;
    justify-content: center;
}
.item{
    border-radius: 20px;
    padding: 10px;
    background: #f2f2f2;
    /* display: flex; */
}
.item img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.level1{
    grid-row-end: span 3;
}
.level2{
    grid-row-end: span 2;
}
.level3{
    grid-row-end: span 1;
}